@use '../../styles/partials/mixins.scss' as *;

.skills-table{
    @include flexCol();

    &__headings-container{
        @include flexRow();
        justify-content: space-between;
        
    }

    &__skill-container{
        display: flex;
        flex-basis: 20%;
    }

    &__base-container{
        display: flex;
        flex-basis: 20%;
    }

    &__hard-container{
        display: flex;
        flex-basis: 20%;
    }

    &__extreme-container{
        display: flex;
        flex-basis: 20%;
    }

    &__rows-container{
        @include flexCol();
        // temp styling to see theory of table
        border: 1px solid #000;
        // padding: 1rem;
        overflow-y: auto;
        height: 16rem;
    }

    &__heading{

    }

    &__no-results{

    }

}