@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/font-styles.scss" as *;
@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.details-form{
    @include flexCol();

    &__heading{
        @include sectionHeadingStyle();
    }

    &__instructions{

    }

    &__container{
        @include flexCol();

    }

    &__field-container{
        @include flexRow();
        justify-content: flex-start;
    }

    &__input-container{
        margin-bottom: $mobileSpacingBelowComponent;
        @include flexCol();
        flex-basis: 70%;

        @include tablet(){
            flex-basis: 75%;
            margin-bottom: $spacingBelowComponent;
        }
    }

    &__label{
        flex-basis: 25%;
        margin-right: 0.5rem;

        @include tablet(){
            flex-basis: 15%;
        }
    }

    &__input{
        @include textInputStyle();

        &--error{
            @include errorInputStyle()
        }
    }

    &__error{
        color: $errorColour;
    }

    &__btn-container{
        @include flexRow();
        justify-content: space-between;
    }

    &__btn{
        @include buttonStyle();
        &--cancel{

        }
    }


}