@use '../../styles/partials/mixins.scss' as *;

.character-details{
    @include flexCol();
    justify-content: flex-start;

    &__heading{

    }
    
    &__container{
        @include flexRow();
        justify-content: space-between;
    }

    &__sub-container{
        @include flexCol();
        justify-content: flex-start;
    }

    &__name{

    }

    &__background{

    }

    &__detail-text{

    }
}