// Colours for the Website

$darkBackground: #272838;
$lightBackground:#e7e7e7;
$primaryColour: #5d536b;
$accentColour: #7d6b91;

$lightText: #faebd7;
$darkText: #272838;

$other: #a3a5c3;

$successColour: #A9FDAC;
$errorColour: #a5494e;

