@use './typography' as *;
@use './colours.scss' as *;
@use './variables.scss' as *;
@use './breakpoints.scss' as *;

// -----TEXT-STYLE VARIABLES-----

$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

// ---TABLET & DESKTOP STYLING---

// -Page Header-
$pageHeaderTextSize: 2.5rem;         
$pageHeaderLineHeight: 2.75rem;         
$pageHeaderFontWeight: 700;

// -Section Header-
$sectionHeaderTextSize: 1.75rem;        
$sectionHeaderLineHeight: 2.125rem;     
$sectionHeaderFontWeight: 700;

// -Subheader-
$subHeaderTextSize: 1.75rem;           
$subHeaderLineHeight: 2rem;        
$subHeaderFontWeight: 700;

// -Body Text-
$bodyTextSize: 1.34rem;               
$bodyLineHeight: 1.8rem;              
$bodyFontWeight: 400;

// -Labels & Buttons Text-
$buttonsTextSize: 1.25rem;     
$buttonsLineHeight: 1.75rem;   
$buttonsFontWeight: 400;

$labelsTextSize: 0.675rem;     
$labelsLineHeight: 1rem;   
$labelsFontWeight: 400;

// ---END OF TABLET & DESKTOP STYLING---

// ---MOBILE STYLING---

// -Page Header-
$pageHeaderMobileTextSize: 1.75rem;            
$pageHeaderMobileLineHeight: 2rem;            

// -Section Header-
$sectionHeaderMobileTextSize: 1.25rem;        
$sectionHeaderMobileLineHeight: 1.75rem;      

// -Subheader-
$subHeaderMobileTextSize: 1.125rem;         
$subHeaderMobileLineHeight: 1.5rem;         

// -Body Text-
$bodyMobileTextSize: 1rem;               
$bodyMobileLineHeight: 1.5rem;              

// -Labels & Buttons Text-
$buttonsMobileTextSize: 1rem;    
$buttonsMobileLineHeight: 1.5rem;
$labelsMobileTextSize: 0.75rem;    
$labelsMobileLineHeight: 1rem;   

// ---END OF MOBILE STYLING---

@mixin pageHeadingStyle(){
    font-family: $font;
    font-size: $pageHeaderMobileTextSize;
    line-height: $pageHeaderMobileLineHeight;
    font-weight: $pageHeaderFontWeight;

    margin-bottom: $mobileSpacingBelowComponent;

    @include tablet(){
        font-size: $pageHeaderTextSize;
        line-height: $pageHeaderLineHeight;

        margin-bottom: $spacingBelowComponent;
    }
}

@mixin sectionHeadingStyle(){
    font-family: $font;
    font-size: $sectionHeaderMobileTextSize;
    line-height: $sectionHeaderMobileLineHeight;
    font-weight: $sectionHeaderFontWeight;

    font-style: italic;
    margin-bottom: $mobileSpacingBelowComponent;

    @include tablet(){
        font-size: $sectionHeaderTextSize;
        line-height: $sectionHeaderLineHeight;

        margin-bottom: $spacingBelowComponent;
    }
}

@mixin subHeadingStyle(){
    font-family: $font;
    font-size: $subHeaderMobileTextSize;
    line-height: $subHeaderMobileLineHeight;
    font-weight: $subHeaderFontWeight;

    margin-top: $mobileSpacingAboveComponent;
    margin-bottom: $mobileSpacingBelowComponent;

    @include tablet(){
        font-size: $subHeaderTextSize;
        line-height: $subHeaderLineHeight;

        margin-top: $spacingAboveComponent;
        margin-bottom: $spacingBelowComponent;
    }
}

@mixin bodyTextStyle(){
    font-family: $font;
    font-size: $bodyMobileTextSize;
    line-height: $bodyMobileLineHeight;
    font-weight: $bodyFontWeight;

    @include tablet(){
        font-size: $bodyTextSize;
        line-height: $bodyLineHeight;
    }
}


@mixin buttonTextStyle(){
    font-family: $font;
    font-size: $buttonsMobileTextSize;
    line-height:  $buttonsMobileLineHeight;
    font-weight: $buttonsFontWeight;

    @include tablet(){
        font-size: $buttonsTextSize;
        line-height: $buttonsLineHeight;
    }
}
