@use './mixins.scss' as *;
@use './colours.scss' as *;
@use './variables.scss' as *;
@use './breakpoints.scss' as *;
@use './font-styles.scss' as *;

body{
    @include flexCol();
    font-family: $font;
    color: $darkText;
}

section{
    @include flexCol();
    font-family: $font;
    color: $darkText;

    background-color: $lightBackground;
    padding: 1rem;
    margin: 1rem 0;
    max-width: 100vw;
   

    @include tablet(){
        max-width: calc(100vw - 3rem);
        padding: 2rem;
        margin: 1.5rem;
        border-radius: 0.314rem;
        box-shadow: 0 0.125rem 0.314rem 0 $darkBackground;

    }

    @include desktop(){
        width: 80%;
        max-width: 64rem;
        margin: 1.5rem auto;
    }
}

article{

}

header{
    max-width: 100vw;
}

footer{
    max-width: 100vw;
}

h1{
    margin: 0;
    @include pageHeadingStyle();

}

h2{
    margin: 0;
    @include sectionHeadingStyle();
}

h3{
    margin: 0;
    @include subHeadingStyle();
}

p{
    @include bodyTextStyle();
}

label{

}

button{

}

input{
    
}

a{
    text-decoration: none;
}