@use './colours.scss' as *;
@use './variables.scss' as *;
@use './breakpoints.scss' as *;
@use './font-styles.scss' as *;

@mixin flexRow(){
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

@mixin flexCol(){
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@mixin linkOfButtonStyle(){
    display: flex;
    text-decoration: none;
}

@mixin buttonLinkStyle(){
    min-width: 7.5rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0.5rem;

    @include buttonTextStyle();

    @include tablet(){
        width: 7.5rem;
    }
}