@use './colours.scss' as *;
@use './variables.scss' as *;
@use './breakpoints.scss' as *;
@use './font-styles.scss' as *;

@mixin flexRow(){
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

@mixin flexCol(){
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@mixin linkOfButtonStyle(){
    display: flex;
    text-decoration: none;
}

@mixin buttonStyle(){
    min-width: 7.5rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0.5rem;

    @include buttonTextStyle();

    @include tablet(){
        width: 7.5rem;
    }
}

@mixin textInputStyle(){
    min-width: 10rem;
    min-height: 1.75rem;
    max-width: 100%;
    width: 100%;
    height: 1.75rem;

    padding: 0.25rem;
    border-radius: 0.25rem; 
    border: $darkBackground solid 0.0625rem;

    &:active, &:focus, &:focus-within{
        outline: none;
        border: $accentColour solid 0.125rem;
    }

    @include tablet(){
        min-height: 2rem;
        height: 2rem;
    }
}

@mixin errorInputStyle(){
    border: $errorColour solid 0.0625rem;
}