$paddingIncrement: 0.5rem;
$horizontalSpacingBetweenComponents: 1rem;
$mobileSpacingAboveComponent: 1.5rem;
$mobileSpacingBelowComponent: 1rem;

$spacingAboveComponent: 2rem;
$spacingBelowComponent: 1.5rem;