@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-styles.scss" as *;
@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.stats-form{
    @include flexCol();

    &__heading{
        @include sectionHeadingStyle();
    }

    &__instructions{

    }

    &__stats-container{
        @include flexCol();
        justify-content: flex-start;

        @include tablet(){
            @include flexRow();
            justify-content: space-between;
        }
       
    }

    &__assigned-container{
        @include flexCol();
        flex-basis: 50%;
    }

    &__field-container{
        @include flexCol();
        margin-bottom: $mobileSpacingBelowComponent;

        @include tablet(){
            margin-bottom: $spacingBelowComponent;
        }
    }

    &__label{
        margin-right: 0.5rem;
    }

    &__input-container{
        @include flexRow();
        justify-content: space-between;
        align-items: flex-start;

    }

    &__text-box{
        @include numberInputStyle();
        align-self: flex-end;
        &--read-only{

        }

        &--error{
            @include errorInputStyle();
        }
    }

    &__error{
        color: $errorColour;
        text-align: right;
    }

    &__calculated-container{
        @include flexCol();
        flex-basis: 47.5%;
    }

    &__btn-container{
        @include flexCol();
    }

    &__nav-btn-container{
        @include flexRow();
        justify-content: space-between;
    }

    &__btn{
        @include buttonStyle();
    }

    &__cancel-container{
        width: 100%;
        display: none;
        &--mobile{
            display: flex;
        }
    }
}