@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/font-styles.scss" as *;
@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles/partials/variables.scss" as *;@use '../../styles/partials/mixins.scss' as *;

.character-stats{
    @include flexCol();
    @include sheetSectionBorders();

    &__heading{
        @include sectionHeadingStyle();
    }
    
    &__container{
        @include flexCol();
        
        &--primary-stats{
            @include flexRow();
            justify-content: space-between;
        }
    }

    &__rolled-grouping{
        @include flexCol();
    }

    &__calculated-grouping{
        @include flexCol();
        justify-content: flex-start;

        @include tablet(){
            @include flexRow();
            justify-content: space-between;
        }
    }

    &__stat{
        @include bodyTextStyle();
    }
}