@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colours" as *;

.header{
    @include flexRow();
    justify-content: flex-start;
    background-color: $darkBackground;

    &__logo-container{
        @include flexRow();
        flex-basis: 15%;
    }
    &__logo-link{
        font-weight: bold;
        text-decoration: none;
        margin: 0 0.5rem;
        color: $lightText;
        &:hover{
            color: $accentColour;
        }
    }

    &__site-nav{
        @include flexRow();
        flex-basis: 40%;
    }

    &__links-container{
        @include flexRow();
    }

    &__nav-item{

    }

    &__link{
        text-decoration: none;
        margin: 0 0.5rem;
        color:$lightText;
        &:hover{
            color: $accentColour;
        }
    }

    &__user-nav{
        @include flexRow();
        flex-basis: 40%;
        justify-content: flex-end;
    }
}