@use '../../styles/partials/mixins.scss' as *;
@use "../../styles/partials/font-styles.scss" as *;
@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.delete-character{
    width: 100vw;
    z-index: 3;
    position: fixed;
    height: 100vh;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 28, 38, 0.8);
    color: $darkText;

    &__card{
        @include flexCol();
        justify-content: space-between;
        background-color: $lightBackground;

        padding: 1rem;

        @include tablet(){
            height: 35%;
            width: 50%;
            border-radius: 0.314rem;
            padding: 1.5rem
        }
    }

    &__top-container{
        @include flexRow();
        justify-content: space-between;
    }

    &__header{
        @include sectionHeadingStyle();
        color: $darkText;
    }

    &__top-close-btn{
        border: none;
        outline: none;
        background-color: $lightBackground;
        height: 1.5rem;
        width: 1.5rem;

        &:hover{
            background-color: $lightText;
        }
    }

    &__body-container{
       
    }

    &__body{
        color: $darkText;
    }

    &__bottom-container{
        @include flexRow();
        justify-content: flex-end;
    }
    
    &__btn{
        @include buttonStyle();
        
        &--cancel{

        }

        &--delete{
            margin-left: 1rem;
        }
    }
}