@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;

.footer{
    @include flexRow();
    justify-content: center;
    justify-self: flex-end;
    position:relative;
    border: 0;
    background-color: $darkBackground;
    padding: 0 1rem;

    &__disclaimer{
        max-width: calc(100vw - 2rem);
        color: $lightText;
        margin: 1rem 0;
    }
}