@use "../../styles/partials/mixins" as *;

.footer{
    @include flexRow();
    justify-content: center;
    justify-self: flex-end;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background-color: #272838;

    &__disclaimer{
        color: antiquewhite;
        margin: 1rem 0;
    }
}