@use './styles/partials/resets.scss' as *;
@use './styles/partials/global.scss' as *;

.app {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh; /* or the minimum height of your content */
  }
  
  .main {
    flex-grow: 1;
  }