@use '../../styles/partials/mixins.scss' as *;

.vault-table{
    @include flexCol();

    &__headings-container{
        @include flexRow();
        justify-content: space-between;
    }

    &__name-container{
        display: flex;
        flex-basis: 40%;
    }

    &__background-container{
        display: flex;
        flex-basis: 30%;
    }

    &__actions-container{
        display: flex;
        flex-basis: 20%;
    }

    &__heading{

    }

    &__no-results{
        display: flex;
    }

}