@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/breakpoints.scss' as *;
@use '../../styles/partials/colours.scss' as *;
@use '../../styles/partials/font-styles.scss' as *;


.vault-table{
    @include flexCol();
    margin-top: $mobileSpacingAboveComponent;
    margin-bottom: $mobileSpacingBelowComponent;

    @include tablet(){
        margin-top: $spacingAboveComponent;
        margin-bottom: $spacingBelowComponent;
    }

    &__headings-container{
        @include flexRow();
        justify-content: space-between;
        background-color: $darkBackground;
        color: $lightText;
        padding: 0 0.5rem;
        border-top-right-radius: 0.314rem;
        border-top-left-radius: 0.314rem;

        @include tablet(){
            justify-content: space-between;
        }

    }

    &__name-container{
        display: flex;
        flex-basis: 40%;
    }

    &__background-container{
        display: flex;
        flex-basis: 30%;
    }

    &__actions-container{
        display: flex;
        flex-basis: 20%;
        min-width: 4rem;
    }

    &__heading{
        @include subHeadingStyle();
    }

    &__no-results{
        display: flex;
    }

    &__rows-container{
        @include flexCol();
        border: $darkBackground solid 0.0625rem;
        border-bottom-right-radius: 0.314rem;
        border-bottom-left-radius: 0.314rem;
    }
}