@use "../../styles/partials/mixins" as *;

.userAuthForm{

    &__fields{
        @include flexCol();
        border: none;
    }

    &__field-container{
        @include flexRow();
    }

    &__label{

    }

    &__input-container{
        @include flexCol();
    }

    &__text-box{

        &--error{

        }
    }

    &__error{

    }

    &__btn-container{
        @include flexRow();
        justify-content: space-around;
        align-items: center;
    }

    &__nav-container{
        @include flexRow();
        justify-content: flex-start;
    }
}